
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
body {
    padding-top: 1rem;
}
.nav-top {
    /* background: rgba(0,0,0,.3); */
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem;
    font-size: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 900;
}
.nav-top .right img {
    width: .6rem;
}

.nav_ul {
    position: fixed;
    z-index: 999;
    width: 120px;
    right: 0;
    background: rgba(1,48,108,.7);
    padding: 10px 0;
    top: 1rem;
}
.nav_ul li {
    text-align: center;
    line-height: 34px;
    list-style: none;
}
.nav_ul li a {
    color: #fff;
    text-decoration: none;
}




.footer {
    background: #232424;
    color: rgba(255, 255, 255, .5);
    font-size: .2rem;
    overflow: hidden;
}
/* .footer .g {
    margin-top: .2rem;
    display: flex;
}
.footer .g img {
    width: 3.4rem;
    height: 3.4rem;
    margin-left: .2rem;
} */
/* .footer .g .t {
    text-align: center;
}
.footer .g .t p {
    padding: .1rem 0;
} */
.footer .t {
    padding: 10px 12px 0 12px;
    box-sizing: border-box;
}
.footer .t p {
    line-height: 2em;
    font-size: .28rem;
}
.footer .b {
    border-top: 1px solid #1A1A1A;
    background: #1A1A1A;
}
.footer .b p {
    font-size: .28rem;
    padding: 8px 0;
}


/* 图片公共样式 */
.icon_df {

}
.icon_logo {
    width: 2.2rem;
}









/* 布局 */
.text-center {
    text-align: center;
}

























.f_btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.f_btn .b {
    background: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0,0,0,.1);
}
.f_btn .b img {
    width: 30px;
    height: 30px;
}
.f_btn .box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: none;
    border: 2px solid rgba(0,0,0,.1);
}
.f_btn .box img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.f_btn .lb {
    position: absolute;
    left: -73px;
    bottom: 0;
}
.f_btn .lb img {
    width: 30px;
    height: 30px;
}
.f_btn .cc {
    position: absolute;
    left: -51px;
    bottom: 59px;
}
.f_btn .cc img {
    width: 30px;
    height: 30px;
}

.f_btn .rr {
    position: absolute;
    right: 0px;
    bottom: 81px;
}
.f_btn .rr img {
    width: 30px;
    height: 30px;
}

.choose_bg {
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.choose_phone {
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
}
.choose_phone .title {
    text-align: center;
    padding: 10px;
}
.choose_phone a {
    display: block;
    background: #eee;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: #222;
}
.choose_phone .close {
    text-align: center;
    padding: 10px;
    background: rgba(0,0,0,.1);
}







